@{
    ViewData["Title"] = "Profile";
}
@model User;

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/profile.css" />
<script src="~/js/site.js"></script>


<div class="profile-container">
    <div class="image">image here</div>

    <div class="ml-3 w-100">
        <h4 class="mb-0 mt-0">@Model.Username</h4>
        <span>@Model.Email</span>

        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
            <div class="d-flex column">
                
                <span class="respect-points">Respect points</span>
                <span class="number1">@Model.RespectPoints</span>

            </div>
            <div class="d-flex flex-column">

                <span class="followers">placeholder</span>
                <span class="number2">000</span>

            </div>
        </div>

        <div class="button mt-2 d-flex flex-row align-items-center">

            <button class="btn btn-sm btn-outline-primary w-100">Chat</button>
            <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button>


        </div>

    </div>
</div>
