@{
    ViewData["Title"] = "Profile";
}
@model User;

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/profile.css" />
<script src="~/js/site.js"></script>

<body>
    <div class="container">
        <div class="profile-header">
            <!-- <img src="" alt="Profile Picture"> -->
            <h1>@Model.Username</h1>
        </div>

        <ul class="nav nav-tabs mt-3" id="profileTabs">
            <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="history-tab" data-bs-toggle="tab" href="#history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stats-tab" data-bs-toggle="tab" href="#stats">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="added-games-tab" data-bs-toggle="tab" href="#addedGames">Custom games</a>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="info">
                <h3>Player Info</h3>
                <p>Player since: @Model.AccountCreationDate</p>
                <p>Respect points: @Model.RespectPoints</p>
            </div>

            <div class="tab-pane fade" id="history">
                <h3>Match History</h3>
                <p>istoric</p>
            </div>

            <div class="tab-pane fade" id="stats">
                <h3>Statistics</h3>
                <p>statistici</p>
            </div>

            <div class="tab-pane fade" id="addedGames">
                <h3>Custom added games by @Model.Username </h3>
                <p>jocuri adaugate</p>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
