@{
    ViewData["Title"] = "Home Page";
    var username = Context.Session.GetString("username");
}

@if (username != null)
{
    <h1>Good to see you, @username!</h1>
}

<div class="news-container">
    <div>What's new?</div>
</div>
