@{
    List<Tournament> tournaments = ViewBag.Tournaments;
}
@model List<Game>

<form method="post" asp-action="Create" asp-controller="Room">
    <div>
        <label>
            Room Title:
            <input type="text" name="name" autocomplete="off" />
        </label>
    </div>
    <div>
        <label>
            Type:
            <input type="text" name="type" autocomplete="off" />
        </label>
    </div>
    <div>
        <label>
            Location:
            <input type="text" name="location" autocomplete="off" />
        </label>
    </div>
    <div>
        <label>
            Start Date:
            <input type="date" name="startDate" autocomplete="off" />
            <input type="time" name="startTime" autocomplete="off" />
        </label>
    </div>

    <div>
        <label>Game:</label>
        @if (Model != null && Model.Any())
        {
            <select name="gameId">
                @foreach (var game in Model)
                {
                    <option value="@game.Id">@game.Title</option>
                }
            </select>
        }
        else
        {
            <p style="color: red;">Nu exista jocuri in lista de favorite.</p>
        }
    </div>

    <div>
        <button type="submit" @(Model == null || !Model.Any() ? "disabled" : "")>Create Room</button>
    </div>


</form>

<script>
    let tournamentMode = 'single';

    function toggleTournamentMode(mode){
        tournamentMode = mode;

        if(mode == 'team'){
            $('#playerNumberDiv').show();
        } else {
            $('#playerNumberDiv').hide();
        }
    }
</script>
