@using TrackMyScore.Services
@inject UserService UserService;

@{
    var username = Context.Session.GetString("username");
    var user = await UserService.GetCurrentUserAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackMyScore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrackMyScore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> <!-- font-awesome link -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand">
                 TrackMyScore
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-house"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Profile" asp-route-id="@user?.Id">
                            <i class="fa-solid fa-user"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Games" asp-action="List">
                            <i class="fa-solid fa-gamepad"></i> Games
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Games" asp-action="Leaderboard">
                            <i class="fa-solid fa-trophy"></i> Leaderboard
                        </a>
                    </li>
                    @if(user != null && user.isAdmin){
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">
                                Admin Dashboard
                            </a>
                        </li>
                    }   
                </ul>

                <!-- search bar -->
                <form class="d-flex me-auto" asp-controller="Account" asp-action="Search" method="get">
                    <input class="form-control me-2 search-bar" type="search" name="query" placeholder="Search" aria-label="Search" autocomplete="off">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fa-solid fa-magnifying-glass search-button"></i>
                    </button>
                </form>

                <ul class="navbar-nav">
                    @if (username != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                <i class="fa-solid fa-right-from-bracket"></i> 
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">
                                <i class="fa-solid fa-right-to-bracket"></i> Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
