<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackMyScore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrackMyScore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> <!-- font-awesome link -->
</head>
<body>    
    <div class="sidebar closed" id="sidebar">
        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        <nav class="nav flex-column">
            <a asp-controller="Home" asp-action="Index" class="nav-link">
                <i class="fa-solid fa-house"></i>
                <div>Home</div>
            </a>
            <a asp-controller="Account" asp-action="Profile" class="nav-link">
                <i class="fa-solid fa-user"></i>
                <div>Profile</div>
            </a>

            @if(User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Logout" class="nav-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <div>Logout</div>
                </a>
            } else {
                <a asp-controller="Account" asp-action="Login" class="nav-link">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <div>Logout</div>
                </a>
            }  
        </nav>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TrackMyScore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
